body {
  font-family: "Roboto", sans-serif;
  overflow-x: hidden;
  width: 100%;
}

.cart {
  position: absolute;
  right: 4em;
  top: 2em;
  cursor: pointer;
}
.cart__icon {
  height: 3em;
}
.cart__amount {
  font-size: 0.6em;
  position: absolute;
  top: -0.3em;
  left: 3.5em;
  background-color: red;
  color: white;
  width: 1em;
  line-height: 1em;
  padding: 0.5em;
  text-align: center;
  border-radius: 5em;
}

#boeken {
  clear: both;
}
.control__sort {
  float: right;
  text-align: right;
}
.book {
  padding: 1rem;
  clear: left;
}
.book .book__cover {
  float: left;
  max-width: 150px;
}
.book__info {
  margin-left: 180px;
}

.book .book__titel {
  margin-top: 0;
  color: #2ecc71;
  font-size: 1.5rem;
}
.book__pages::after,
.book__edition::after,
.book__ean::after {
  content: " | ";
}
.book .book__price {
  font-size: 2rem;
  color: #2ecc71;
}

.book__order {
  font-size: 0.5em;
  float: right;
  display: block;
  text-decoration: none;
  color: #30b0b0;
  padding: 0.4em 2.5em;
  border: 2px solid #30b0b0;
  margin-top: 1em;
  margin-right: 1em;
  border-radius: 1em;
  background-color: white;
  font-weight: 700;
  font-variant: small-caps;
  letter-spacing: 0.2em;
}
.book__order:hover {
  color: white;
  background-color: #30b0b0;
}

@media (min-width: 1250px) {
  #boeken {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .book:nth-child(4n + 2),
  .book:nth-child(4n + 3) {
    background-color: aquamarine;
  }
}

#getForm {
  display: none;
}

#getForm:checked ~ .order-form {
  transform: translateX(0vw);
}

.order-form {
  background-color: whitesmoke;
  position: absolute;
  width: 90vw;
  min-height: 90vh;
  top: 0em;
  border-radius: 2em;
  border: solid grey 2px;
  padding: 2em;
  box-sizing: border-box;
  margin: 4vh 4vw;
  transform: translateX(100vw);
  transition: transform 1s ease-out;
}
.order-form__cover {
  height: 3rem;
}
.order-form__trash,
.order-form__down,
.order-form__up {
  padding: 0 1rem;
}
.order-form__trash:hover,
.order-form__down:hover {
  color: red;
  cursor: pointer;
}
.order-form__up:hover {
  color: green;
  cursor: pointer;
}
